<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <ul class="nav nav-tabs">
            <li class="nav-item">
        <a class="navbar-brand"  href="/"><i class="fa-regular fa-compass"></i></a>
            </li>
            <li class="nav-item">
        <a class="nav-link"  href="/">Home</a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/listings">All Listings</a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/listings/listings/new">Add New Listings</a>
            </li>
    </ul>
</nav>